body {
    margin: 0;
}
.text-center {
    text-align: center;
}

.bg-primary {
    background: #EE4D2D;
}

.text-primary {
    color: #EE4D2D;
}

.text-secondary {
    color: #05a;
}

.text-small {
    font-size: 12px;
}

.text-muted {
    color: rgba(0, 0, 0, .26);
}
