.w-100 {
    width: 100px;
}

.divider {
    height: 1px;
    width: 100%;
    background: #F5F5F5;
}

.category-item {
    width: 120px;
    padding: 8px;
    border-right: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    text-align: center;
}

.category-item img {
    height: 100px;
    width: 100px;
}